USE [master]
GO
/****** Object:  Database [Bookshelf]    Script Date: 2018/11/28 10:32:34 ******/
CREATE DATABASE [Bookshelf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bookshelf', FILENAME = N'C:\DataBase\SQLServer\DATA\Bookshelf.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bookshelf_log', FILENAME = N'C:\DataBase\SQLServer\DATA\Bookshelf_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookshelf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bookshelf]
GO
/****** Object:  User [lwebuser]    Script Date: 2018/11/28 10:32:34 ******/
CREATE USER [lwebuser] FOR LOGIN [IIS APPPOOL\lweb] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ContosoUniversityUser]    Script Date: 2018/11/28 10:32:34 ******/
CREATE USER [ContosoUniversityUser] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [lwebuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [lwebuser]
GO
ALTER ROLE [db_owner] ADD MEMBER [ContosoUniversityUser]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2018/11/28 10:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[ISBN] [nvarchar](13) NOT NULL,
	[EAN] [nvarchar](13) NULL,
	[Title] [nvarchar](500) NOT NULL,
	[PublicationDateString] [nvarchar](50) NULL,
	[ListPrice] [money] NULL,
	[Publisher] [nvarchar](200) NULL,
	[Author] [nvarchar](200) NULL,
	[DetailPageURL] [nvarchar](max) NULL,
	[MediumImageURL] [nvarchar](max) NULL,
	[TinyImageURL] [nvarchar](max) NULL,
	[InsertDatetime] [datetime] NOT NULL,
	[Disposal] [bit] NOT NULL CONSTRAINT [DF_Books_Disposal]  DEFAULT ((0)),
	[Location] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
